<!DOCTYPE html>
<html>
  <head>
  	<title>Bookers</title>
  </head>

  <body>
    <div class="col-xs-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr> 
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button type="button" class="btn btn-info btn-block"><%=link_to 'edit',edit_user_path(@user) %></button>
      </div>

      <div class="row">
        <h2>New book</h2>
        <%= form_for(@book) do |f| %>

          <h4>Title</h4>
          <%= f.text_field :title %>

          <h4>Opinion</h4>
          <%= f.text_area :body %>

          <button type="button" class="btn btn-info btn-block"><%= f.submit 'Create Book' %></button>

        <% end %>
      </div>
    </div>

    <div class="col-xs-9">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
              <td>
                <%= @user.name %>
              </td>
              <td>
                <%= link_to 'Show', user_path %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </body>
</html>
