<!DOCTYPE html>
<html>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <h2>User info</h2>
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          <table class="table">
            <tbody>
              <tr></tr> 
              <tr>
                <th>name</th>
               <th><%= @user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= @user.introduction %></th>
              </tr>
            </tbody>
          </table>

          <%= link_to edit_user_path(@user) do %>
             <button type="button" class="btn btn-default btn-block"> <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
          <% end %>

          <h2>New book</h2>
          <%= form_for(@book) do |f| %>

            <% if @book.errors.any? %>
               <%= @book.errors.count %>件のerrorが発生しました
               <% @book.errors.full_messages.each do |message| %>
                   <%= message %>
               <% end %>
            <% end %>

            <h4>Title</h4>
            <%= f.text_field :title %>

            <h4>Opinion</h4>
            <%= f.text_area :body %>

            <%= f.submit  'Create Book', class:"btn btn-primary btn-block" %>
          <% end %>
        </div>

  	    <div class="col-xs-9">
          <h2>Book detail</h2>
          <table class="table table-hover table-inverse">
            <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@user) do %>
                    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %><%= @user.name %>
                  <% end %>
                </td>
                <td><p class="book_title"><%= @books.title %></p></td>
                <td><p class="book_body"><%= @books.body %></p></td>
                <% if @books.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path(@books) %></td>
                  <td><%= link_to "Destroy", book_path(@books), method: :delete %></td>
                <% end %>
  				    </tr>
  			    </tbody>
  		    </table>
        </div>
      </div>
    </div>
  </body>
</html>