<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" style = "background-color:black;">
    <header>

        <nav>
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id) do %>
                <div class="list"><span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span></div>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                <div class="list"><span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span></div>
                <% end %>
              </li>
              <li>
                <%= link_to books_path do %>
                <div class="list"><span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span></div>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="list"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> logout</span></div>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path do %>
                  <div class="list"><span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span></div>
                <% end %>
              </li>
              <li>
                <%= link_to about_path do %>
                  <div class="list"><span class="glyphicon glyphicon-link" aria-hidden="true"> About</span></div>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <div class="list"><span class="glyphicon glyphicon-edit" aria-hidden="true"> sign up</span></div>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                  <div class="list"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</span></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>

    </header>
  </div>
</div>

  <%= flash[:notice] %>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
